/* Shared Style */
body,
html {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

/* banner section */
.banner-section {
    margin: 50px auto;
    width: 1320px;
    height: 600px;
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Banner\ Image.png);
    border-radius: 16px;
    background-position: center;
    
    color: white;

    


}

.banner-title {
    margin-bottom: 10px;
    padding: 177px 500px 0px;
    font-size: 30px;
    font-weight: 400px;
    text-align: center;
    
}

.title {
    margin-top: 0px;
    padding: 0px 344px 177px;
    font-size: 70px;
    font-weight: 900px;
    text-align: center;

}